/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html,body {
        @apply h-full overflow-hidden;
    }
    .hero, .navbar, .content, #page-footer {
        @apply md:px-16 !important;
    }
    .content {
        @apply py-20;
    }
}